<h1 align="center"><b> IPL 2024 Cricket Data Pre Processing </b></h1>

In [1]:
import pandas as pd
import json

<h4 style="color:darkblue"><b>(1) Process Match Results</b></h4>

In [2]:
with open('ipl_json_files/IPL2024_MATCH_RESULTS.json') as f:
    data = json.load(f)
df_match = pd.DataFrame(data[0]['matchSummary'])
df_match["match_id"] = ["T20I #" + str(i) for i in range(72, 0, -1)]
df_match.drop(columns=["scorecard"], inplace =True)
df_match.head()

  team1 team2     winner     margin     ground     matchDate  match_id
0   KKR   SRH        KKR  8 wickets    Chennai  May 26, 2024  T20I #72
1    RR   SRH        SRH    36 runs    Chennai  May 24, 2024  T20I #71
2    RR   RCB         RR  4 wickets  Ahmedabad  May 22, 2024  T20I #70
3   KKR   SRH        KKR  8 wickets  Ahmedabad  May 21, 2024  T20I #69
4    RR   KKR  no result          -   Guwahati  May 19, 2024  T20I #68

In [3]:
df_match.shape

(72, 7)

**create a match ids dictionary that maps team names to unique match id.This will be useful later on to link with other tables**

In [4]:
match_ids_dict = {}

for index, row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    match_ids_dict[key1] = row['match_id']
    match_ids_dict[key2] = row['match_id']

In [5]:
# Standardized team name mapping
team_name_map = {
    "PBKS": "PUNJABKINGS",
    "RCB": "RCB",
    "CSK": "CSK",
    "MI": "MI",
    "RR": "RR",
    "KKR": "KKR",
    "SRH": "SRH",
    "DC": "DC",
    "GT": "GT",
    "LSG": "LSG"
}

# Function to normalize match name using standard names
def standardize_match_name(name):
    teams = name.upper().replace(" ", "").split("VS")
    team1 = team_name_map.get(teams[0], teams[0])
    team2 = team_name_map.get(teams[1], teams[1])
    return ''.join(sorted([team1, team2]))

match_ids_dict_normalized = {
    standardize_match_name(k): v for k, v in match_ids_dict.items()
}

In [6]:
df_match.to_csv(r"ipl_csv_files/match_summary.csv", index = False)

<h4 style="color:darkblue"><b>(2) Process Batting Summary</b></h4>

In [7]:
with open('ipl_json_files/IPL2024_BATTING_SUMMARY.json') as f:
    data=json.load(f)
    all_records =[]
    for rec in data:
      all_records.extend(rec['battingSummary'])

df_batting=pd.DataFrame(all_records)
df_batting.head(13)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,CSK Vs PBKS,CSK,1,Ajinkya Rahane,c Rossouw b Harpreet Brar,29,24,5,0,120.83
1,CSK Vs PBKS,CSK,2,Ruturaj Gaikwad(c),b Arshdeep Singh,62,48,5,2,129.16
2,CSK Vs PBKS,CSK,3,Shivam Dube,lbw b Harpreet Brar,0,1,0,0,0.00
3,CSK Vs PBKS,CSK,4,Ravindra Jadeja,lbw b Chahar,2,4,0,0,50.00
4,CSK Vs PBKS,CSK,5,Sameer Rizvi,c Patel b Rabada,21,23,1,0,91.30
5,CSK Vs PBKS,CSK,6,Moeen Ali,b Chahar,15,9,1,1,166.66
6,CSK Vs PBKS,CSK,7,MS Dhoniâ€,run out (Patel/â€ JM Sharma),14,11,1,1,127.27
7,CSK Vs PBKS,CSK,8,Daryl Mitchell,NaN,1,1,0,0,100.00
8,CSK Vs PBKS,PBKS,1,Prabhsimran Singh,c Gaikwad b Gleeson,13,10,1,1,130.00
9,CSK Vs PBKS,PBKS,2,Jonny Bairstow,c â€ Dhoni b Dube,46,30,7,1,153.33
10,CSK Vs PBKS,PBKS,3,Rilee Rossouw,b Thakur,43,23,5,2,186.95
11,CSK Vs PBKS,PBKS,4,Shashank Singh,NaN,25,26,1,1,96.15
12,CSK Vs PBKS,PBKS,5,Sam Curran(c),NaN,26,20,3,0,130.00

In [8]:
df_batting["out/not_out"] = df_batting["dismissal"].apply(
    lambda x: "out" if isinstance(x, str) and len(x) > 0 else "not_out"
)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,CSK Vs PBKS,CSK,1,Ajinkya Rahane,c Rossouw b Harpreet Brar,29,24,5,0,120.83,out
1,CSK Vs PBKS,CSK,2,Ruturaj Gaikwad(c),b Arshdeep Singh,62,48,5,2,129.16,out
2,CSK Vs PBKS,CSK,3,Shivam Dube,lbw b Harpreet Brar,0,1,0,0,0.00,out
3,CSK Vs PBKS,CSK,4,Ravindra Jadeja,lbw b Chahar,2,4,0,0,50.00,out
4,CSK Vs PBKS,CSK,5,Sameer Rizvi,c Patel b Rabada,21,23,1,0,91.30,out

In [9]:
df_batting.drop(columns=["dismissal"], inplace =True)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,CSK Vs PBKS,CSK,1,Ajinkya Rahane,29,24,5,0,120.83,out
1,CSK Vs PBKS,CSK,2,Ruturaj Gaikwad(c),62,48,5,2,129.16,out
2,CSK Vs PBKS,CSK,3,Shivam Dube,0,1,0,0,0.00,out
3,CSK Vs PBKS,CSK,4,Ravindra Jadeja,2,4,0,0,50.00,out
4,CSK Vs PBKS,CSK,5,Sameer Rizvi,21,23,1,0,91.30,out

**cleanup weird characters**

In [10]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('â€', ''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('\xa0', ''))
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,CSK Vs PBKS,CSK,1,Ajinkya Rahane,29,24,5,0,120.83,out
1,CSK Vs PBKS,CSK,2,Ruturaj Gaikwad(c),62,48,5,2,129.16,out
2,CSK Vs PBKS,CSK,3,Shivam Dube,0,1,0,0,0.00,out
3,CSK Vs PBKS,CSK,4,Ravindra Jadeja,2,4,0,0,50.00,out
4,CSK Vs PBKS,CSK,5,Sameer Rizvi,21,23,1,0,91.30,out

In [11]:
df_batting['match_id'] = df_batting['match'].apply(standardize_match_name).map(match_ids_dict_normalized)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,CSK Vs PBKS,CSK,1,Ajinkya Rahane,29,24,5,0,120.83,out,T20I #49
1,CSK Vs PBKS,CSK,2,Ruturaj Gaikwad(c),62,48,5,2,129.16,out,T20I #49
2,CSK Vs PBKS,CSK,3,Shivam Dube,0,1,0,0,0.00,out,T20I #49
3,CSK Vs PBKS,CSK,4,Ravindra Jadeja,2,4,0,0,50.00,out,T20I #49
4,CSK Vs PBKS,CSK,5,Sameer Rizvi,21,23,1,0,91.30,out,T20I #49

In [12]:
df_batting.shape

(1129, 11)

In [13]:
df_batting.to_csv('ipl_csv_files/batting_summary.csv', index = False)

<h4 style="color:darkblue"><b>(3) Process Bowling Summary</b></h4>

In [14]:
with open('ipl_json_files/IPL2024_BOWLING_SUMMARY.json') as f:
    data = json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['bowlingSummary'])
all_records[:2]

[{'match': 'MI Vs RR',
  'bowlingTeam': 'RR',
  'bowlerName': 'Trent Boult',
  'overs': '4',
  'maiden': '0',
  'runs': '22',
  'wickets': '3',
  'economy': '5.50',
  '0s': '14',
  '4s': '1',
  '6s': '1',
  'wides': '1',
  'noBalls': '0'},
 {'match': 'MI Vs RR',
  'bowlingTeam': 'RR',
  'bowlerName': 'Nandre Burger',
  'overs': '4',
  'maiden': '0',
  'runs': '32',
  'wickets': '2',
  'economy': '8.00',
  '0s': '15',
  '4s': '5',
  '6s': '1',
  'wides': '1',
  'noBalls': '0'}]

In [15]:
df_bowling = pd.DataFrame(all_records)
print(df_bowling.shape)
df_bowling.head()

(857, 13)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,MI Vs RR,RR,Trent Boult,4,0,22,3,5.50,14,1,1,1,0
1,MI Vs RR,RR,Nandre Burger,4,0,32,2,8.00,15,5,1,1,0
2,MI Vs RR,RR,Avesh Khan,4,0,30,1,7.50,10,2,1,1,0
3,MI Vs RR,RR,Yuzvendra Chahal,4,0,11,3,2.75,16,1,0,0,0
4,MI Vs RR,RR,Ravichandran Ashwin,4,0,27,0,6.75,6,1,0,1,0

In [16]:
df_bowling['match_id'] = df_bowling['match'].map(match_ids_dict)
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,MI Vs RR,RR,Trent Boult,4,0,22,3,5.50,14,1,1,1,0,T20I #14
1,MI Vs RR,RR,Nandre Burger,4,0,32,2,8.00,15,5,1,1,0,T20I #14
2,MI Vs RR,RR,Avesh Khan,4,0,30,1,7.50,10,2,1,1,0,T20I #14
3,MI Vs RR,RR,Yuzvendra Chahal,4,0,11,3,2.75,16,1,0,0,0,T20I #14
4,MI Vs RR,RR,Ravichandran Ashwin,4,0,27,0,6.75,6,1,0,1,0,T20I #14

In [17]:
df_bowling.to_csv('ipl_csv_files/bowling_summary.csv', index = False)

<h4 style="color:darkblue"><b>(4) Process Players Information</b></h4>

In [18]:
with open('ipl_json_files/IPL2024_PLAYERINFO.json') as f:
    data = json.load(f)

In [19]:
df_players = pd.DataFrame(data)

print(df_players.shape)
df_players.drop(columns=["input"], inplace =True)
df_players.head(15)

(263, 7)

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Faf du Plessis(c),RCB,Right hand Bat,Legbreak,Middle order Batter,NaN
1,Sunil Narine,KKR,Left hand Bat,Right arm Offbreak,Bowling Allrounder,NaN
2,Sunil Narine,KKR,Left hand Bat,Right arm Offbreak,Bowling Allrounder,NaN
3,Rajat Patidar,RCB,Right hand Bat,Right arm Offbreak,Top order Batter,NaN
4,Harshit Rana,KKR,Right hand Bat,Right arm Fast,Bowler,"A fast bowler from Delhi, Harshit Rana is amon..."
5,Anukul Roy,KKR,Left hand Bat,Slow Left arm Orthodox,Allrounder,NaN
6,Venkatesh Iyer,KKR,Left hand Bat,Right arm Medium,Allrounder,A loose-limbed and tall pace-bowling allrounde...
7,Virat Kohli,RCB,Right hand Bat,Right arm Medium,Top order Batter,NaN
8,Alzarri Joseph,RCB,Right hand Bat,Right arm Fast,Bowler,Tall fast bowler Alzarri Joseph started out as...
9,Anuj Rawatâ€,RCB,Left hand Bat,NaN,Wicketkeeper Batter,NaN
10,Andre Russell,KKR,Right hand Bat,Right arm Fast,Allrounder,NaN
11,Phil Saltâ€,KKR,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...
12,Glenn Maxwell,RCB,Right hand Bat,Right arm Offbreak,Batting Allrounder,"One of the fastest scorers in world cricket, G..."
13,Vijaykumar Vyshak,RCB,Right hand Bat,Right arm Medium,Bowler,NaN
14,Mitchell Starc,KKR,Left hand Bat,Left arm Fast,Bowler,NaN

In [20]:
df_players[df_players['team'] == 'KKR']

,name,team,battingStyle,bowlingStyle,playingRole,description
1,Sunil Narine,KKR,Left hand Bat,Right arm Offbreak,Bowling Allrounder,NaN
2,Sunil Narine,KKR,Left hand Bat,Right arm Offbreak,Bowling Allrounder,NaN
4,Harshit Rana,KKR,Right hand Bat,Right arm Fast,Bowler,"A fast bowler from Delhi, Harshit Rana is amon..."
5,Anukul Roy,KKR,Left hand Bat,Slow Left arm Orthodox,Allrounder,NaN
6,Venkatesh Iyer,KKR,Left hand Bat,Right arm Medium,Allrounder,A loose-limbed and tall pace-bowling allrounde...
10,Andre Russell,KKR,Right hand Bat,Right arm Fast,Allrounder,NaN
11,Phil Saltâ€,KKR,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...
14,Mitchell Starc,KKR,Left hand Bat,Left arm Fast,Bowler,NaN
15,Varun Chakravarthy,KKR,Right hand Bat,Legbreak Googly,Bowler,NaN
16,Shreyas Iyer(c),KKR,Right hand Bat,"Right arm Offbreak, Legbreak Googly",Top order Batter,NaN
21,Rinku Singh,KKR,Left hand Bat,Right arm Offbreak,Middle order Batter,A middle-order batter and an excellent outfiel...
102,Vaibhav Arora,KKR,Right hand Bat,Right arm Fast medium,Bowler,NaN
104,Angkrish Raghuvanshi,KKR,Right hand Bat,Slow Left arm Orthodox,Top order Batter,"Angkrish Raghuvanshi, the tall, right-hand top..."
169,Ramandeep Singh,KKR,Right hand Bat,Right arm Medium,Middle order Batter,NaN
170,Ramandeep Singh,KKR,Right hand Bat,Right arm Medium,Middle order Batter,NaN
171,Dushmantha Chameera,KKR,Right hand Bat,Right arm Fast,Bowler,"Tall, slim and slippery, Dushmantha Chameera a..."
211,Nitish Rana,KKR,Left hand Bat,"Right arm Medium, Right arm Offbreak, Legbreak",Middle order Batter,NaN
252,Suyash Sharma,KKR,Right hand Bat,Legbreak Googly,Bowler,NaN
259,Manish Pandey,KKR,Right hand Bat,Right arm Medium,Top order Batter,Manish Pandey will always be remembered as the...
262,Rahmanullah Gurbazâ€,KKR,Right hand Bat,Right arm Medium,Wicketkeeper Batter,NaN

In [21]:
df_players['name'] = df_players['name'].apply(lambda x: x.replace('â€', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('\xa0', ''))
df_players.tail()

,name,team,battingStyle,bowlingStyle,playingRole,description
258,Suyash Prabhudessai,RCB,Right hand Bat,Right arm Medium,Batting Allrounder,NaN
259,Manish Pandey,KKR,Right hand Bat,Right arm Medium,Top order Batter,Manish Pandey will always be remembered as the...
260,KL Rahul,LSG,Right hand Bat,NaN,Wicketkeeper Batter,NaN
261,Nicholas Pooran(c),LSG,Left hand Bat,Right arm Offbreak,Wicketkeeper Batter,NaN
262,Rahmanullah Gurbaz,KKR,Right hand Bat,Right arm Medium,Wicketkeeper Batter,NaN

In [22]:
df_players.to_csv('ipl_csv_files/no_image.csv', index = False)